# Rewrite non / requests to /

RewriteCond %{REQUEST_URI} !^/

RewriteRule ^(.*)$ /$1 [L]

# Rewrite requests to non-existing files/dirs to /index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.html [L]