@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '../theme_newgraphicstd';

/* Activates dark mode by adding or removing the .dark class to the <html> element */
@custom-variant dark (&:where([data-darkModeState=dark], [data-darkModeState=dark] *));

@layer base {
	@font-face {
		font-family: 'SuisseIntl';
		src: url('/fonts/SuisseIntl/SuisseIntl-Regular-WebM.woff') format('woff');
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
	.prose-base a {
		@apply underline;
	  }
}

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/typography';
